<link rel="stylesheet" href="https://material.io/resources/icons/?style=baseline">
<div class="contenedor">
    <div class="top">
        <div class="dertop">
            <img class="img1" src="/assets/img/logo.png" alt="" srcset="">
            <h1>RAMO</h1>
        </div>
        <div class="iztop">
            <div class="ag">
                <mat-icon>person_outline</mat-icon>
               </div>
            
        </div>
    </div>
    <div class="medi">
        <button mat-button routerLink="/inicio" class="butt">Inicio</button>
        <button mat-button routerLink="/capaci" class="butt">Capacitaciones</button>
        <button mat-button routerLink="/comunid" class="butt">Comunidad</button>
        <button mat-button routerLink="/ayuda" class="butt">Ayuda</button>
    </div>
    <div class="bot">
        <div class="top2">
            <div class="cont">
                <button mat-button routerLink="/comu.catl" class="butt">
                    <img class="img2" src="/assets/img/catalo2.png" alt="" srcset="">
                </button>
                <h2>Catálogo</h2>
            </div>
            <div class="cont">
                <button mat-button routerLink="/comu.aprend" class="butt">
                    <img class="img1" src="/assets/img/imagen2.png" alt="" srcset="">
                </button>
                <h2>Comunidad de aprendizaje</h2>
            </div>
            <div class="cont">
                <button mat-button routerLink="/comu.recn" class="butt">
                    <img class="img1" src="/assets/img/recon.png" alt="" srcset="">
                </button>
                <h2>Reconicimiento</h2>
            </div>
        </div>
        <div class="but2">
            <div class="cont">
                <button mat-button routerLink="/comu.mall" class="butt">
                    <img class="img1" src="/assets/img/mall.png" alt="" srcset="">
                </button>
                <h2>Mallas curriculares</h2>
            </div>
            <div class="cont">
                <button mat-button routerLink="/comu.herrms" class="butt">
                    <img class="img1" src="/assets/img/herr.png" alt="" srcset="">
                </button>
                <h2>Herramientas</h2>
            </div>
            <div class="cont">
                <button mat-button routerLink="/comu.bilio" class="butt">
                    <img class="img1" src="/assets/img/book2.png" alt="" srcset="">
                </button>
                <h2>Biblioteca de recursos</h2>
            </div>
        </div>
    </div>
</div>

