<link rel="stylesheet" href="https://material.io/resources/icons/?style=baseline">
<div class="container">
    <div class="top">
        <div class="dertop">
            <img class="img1" src="/assets/img/logo.png" alt="" srcset="">
            <h1>RAMO</h1>
        </div>
        <div class="iztop"></div>  
    </div>
    <div class="bot">
        <h1>Bievenido</h1>
            <mat-form-field class="info"floatLabel="auto" hideRequiredMarker appearance="fill" width= "336px">
                <mat-label>Usuario</mat-label>
                <input matInput required>
            </mat-form-field>

            <div class="contraseña">
                <mat-form-field class="contraseña">
                    <mat-label>Contraseña</mat-label>
                    <input matInput type = "password">
                    <i class="material-icons" matSuffix >visibility_off</i>
                  </mat-form-field>
          </div>
          <button class=" boton" mat-raised-button routerLink="/inicio">Iniciar sesión</button>
    </div>
</div>
