<link rel="stylesheet" href="https://material.io/resources/icons/?style=baseline">
<div class="contenedor">
    <div class="top">
        <div class="dertop">
            <img class="img1" src="/assets/img/logo.png" alt="" srcset="">
            <h1>RAMO</h1>
        </div>
        <div class="iztop">
            <div class="ag">
                <mat-icon>person_outline</mat-icon>
               </div>
            
        </div>
    </div>
    <div class="medi">
        <button mat-button routerLink="/inicio" class="butt">Inicio</button>
        <button mat-button routerLink="/capaci" class="butt">Capacitaciones</button>
        <button mat-button routerLink="/comunid" class="butt">Comunidad</button>
        <button mat-button routerLink="/ayuda" class="butt">Ayuda</button>
    </div>
    <div class="bot">
         <div class="titu">
            <button mat-button routerLink="/comunid" class="butt">
                <img class="img1" src="/assets/img/book2.png" alt="" srcset="">
            </button>
            <h1>Biblioteca de recursos</h1>
         </div>
         <div class="cont">
            <div class="proct">
               <img class="img1" src="/assets/img/book.png" alt="" srcset="">
               <p>Título<br>
                   Descripción<br>
                   Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, maiores!
               </p>
            </div>
            <div class="proct">
               <img class="img1" src="/assets/img/pdf.png" alt="" srcset="">
               <p>Título<br>
                   Descripción<br>
                   Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, maiores!
               </p>
            </div>
            <div class="proct">
               <img class="img1" src="/assets/img/book.png" alt="" srcset="">
               <p>Título<br>
                   Descripción<br>
                   Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, maiores!
               </p>
            </div>
            <div class="proct">
               <img class="img1" src="/assets/img/pdf.png" alt="" srcset="">
               <p>Título<br>
                   Descripción<br>
                   Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, maiores!
               </p>
            </div>
            <div class="proct">
               <img class="img1" src="/assets/img/book.png" alt="" srcset="">
               <p>Título<br>
                   Descripción<br>
                   Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, maiores!
               </p>
            </div>
        </div>
    </div>
</div>

