<link rel="stylesheet" href="https://material.io/resources/icons/?style=baseline">
<div class="contenedor">
    <div class="top">
        <div class="dertop">
            <img class="img1" src="/assets/img/logo.png" alt="" srcset="">
            <h1>RAMO</h1>
        </div>
        <div class="iztop">
            <div class="ag">
                <mat-icon>person_outline</mat-icon>
               </div>
            
        </div>
    </div>
    <div class="medi">
        <button mat-button routerLink="/inicio" class="butt">Inicio</button>
        <button mat-button routerLink="/capaci" class="butt">Capacitaciones</button>
        <button mat-button routerLink="/comunid" class="butt">Comunidad</button>
        <button mat-button routerLink="/ayuda" class="butt">Ayuda</button>
    </div>
    <div class="bot">
         <div class="cont">
            <button mat-button routerLink="/cap.proc" class="butt">
                <img class="img1" src="/assets/img/prod.png" alt="" srcset="">
            </button>
            <h2>Producto</h2>
         </div>
         <div class="cont">
            <button mat-button routerLink="/cap.hist" class="butt">
                <img class="img1" src="/assets/img/hist.png" alt="" srcset="">
            </button>
            <h2>Historia</h2>
         </div>
         <div class="cont">
            <button mat-button routerLink="/cap.form" class="butt">
                <img class="img1" src="/assets/img/forma.png" alt="" srcset="">
            </button>
            <h2>Formación transversal</h2>
         </div>
    </div>
</div>
