<link rel="stylesheet" href="https://material.io/resources/icons/?style=baseline">
<div class="contenedor">
    <div class="top">
        <div class="dertop">
            <img class="img1" src="/assets/img/logo.png" alt="" srcset="">
            <h1>RAMO</h1>
        </div>
        <div class="iztop">
            <div class="ag">
                <mat-icon>person_outline</mat-icon>
               </div>
            
        </div>
    </div>
    <div class="medi">
        <button mat-button routerLink="/inicio" class="butt">Inicio</button>
        <button mat-button routerLink="/capaci" class="butt">Capacitaciones</button>
        <button mat-button routerLink="/comunid" class="butt">Comunidad</button>
        <button mat-button routerLink="/ayuda" class="butt">Ayuda</button>
    </div>
    <div class="bot">
         <div class="titu">
            <button mat-button routerLink="/comunid" class="butt">
                <img class="img1" src="/assets/img/recon.png" alt="" srcset="">
            </button>
            <h1>Reconocimientos</h1>
         </div>
         <div class="cont">
            <div class="cont2">
                <img class="img2" src="/assets/img/men.png" alt="" srcset="">
                <p>Nombre del colocador <br>
                   Meritos
                </p>
            </div>
            <div class="cont2">
                <img class="img1" src="/assets/img/woman.png" alt="" srcset="">
                <p>Nombre del colocador <br>
                   Meritos
                </p>
            </div>
            <div class="cont2">
                <img class="img2" src="/assets/img/woman2.png" alt="" srcset="">
                <p>Nombre del colocador <br>
                   Meritos
                </p>
            </div>
         </div>
    </div>
</div>


