<link rel="stylesheet" href="https://material.io/resources/icons/?style=baseline">
<div class="contenedor">
    <div class="top">
        <div class="dertop">
            <img class="img1" src="/assets/img/logo.png" alt="" srcset="">
            <h1>RAMO</h1>
        </div>
        <div class="iztop">
            <div class="ag">
                <mat-icon>person_outline</mat-icon>
               </div>
            
        </div>
    </div>
    <div class="medi">
        <button mat-button routerLink="/inicio" class="butt">Inicio</button>
        <button mat-button routerLink="/capaci" class="butt">Capacitaciones</button>
        <button mat-button routerLink="/comunid" class="butt">Comunidad</button>
        <button mat-button routerLink="/ayuda" class="butt">Ayuda</button>
    </div>
    <div class="bot">
        <div class="der">
            <div class="top">
                <p>¿Preguntas frecuentes? <br>
                    Respuesta a esa Preguntas Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, possimus!</p>
                    <p>¿Preguntas frecuentes? <br>
                    Respuesta a esa Preguntas Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, culpa amet animi incidunt voluptatum eaque.</p>
                     <p>¿Preguntas frecuentes? <br>
                    Respuesta a esa Preguntas Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil quam doloremque quos eveniet dolores assumenda nisi enim esse.</p>
                    <p>¿Preguntas frecuentes? <br>
                    Respuesta a esa Preguntas Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores amet sit illo autem sint.</p>  
            </div>
            <div class="bot2"> 
                <div class="uno">
                    <mat-icon>call</mat-icon>
                    <p>Contacto de soporte tecnico</p>
                </div>
                <div class="dos">
                    <mat-icon>call</mat-icon>
                   <p>Contacto administrativo</p>
                </div>
                
            </div>
        
        </div>
        <div class="iz">
            <img class="img2" src="/assets/img/ayuda.png" alt="" srcset="">
        </div>

    </div>
</div>

