<link rel="stylesheet" href="https://material.io/resources/icons/?style=baseline">
<script src="https://www.youtube.com/iframe_api"></script>
<div class="contenedor">
    <div class="top">
        <div class="dertop">
            <img class="img1" src="/assets/img/logo.png" alt="" srcset="">
            <h1>RAMO</h1>
        </div>
        <div class="iztop">
            <div class="ag">
                <mat-icon>person_outline</mat-icon>
               </div>
            
        </div>
    </div>
    <div class="medi">
        <button mat-button routerLink="/inicio" class="butt">Inicio</button>
        <button mat-button routerLink="/capaci" class="butt">Capacitaciones</button>
        <button mat-button routerLink="/comunid" class="butt">Comunidad</button>
        <button mat-button routerLink="/ayuda" class="butt">Ayuda</button>
    </div>
    <div class="bot">
         <div class="titu">
            <button mat-button routerLink="/capaci" class="butt">
                <img class="img1" src="/assets/img/hist.png" alt="" srcset="">
            </button>
            <h1>Historia</h1>
         </div>
         <div class="cont">
             <div class="video">
                <h3>Video acerca de la Historia</h3>
                <youtube-player 
                videoId="kUbTTeQZ9nI" 
                suggestedQuality="highres"
                [height]="300" 
                [width]="550" 
                [startSeconds]="0"
                [endSeconds]="160">
              </youtube-player>
              
             </div>
             <div class="tex">
                 <p> Historia <br>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto, itaque! Nostrum corrupti officia earum voluptates neque distinctio labore minus corporis doloribus amet praesentium soluta quas nisi maiores enim ab quisquam, assumenda molestiae facilis non aut quidem. Quidem eos quisquam blanditiis alias laboriosam, doloribus quibusdam repudiandae quas sunt, repellat, sint totam! Non libero vero voluptatibus molestias a ipsam placeat pariatur voluptatum itaque. Adipisci error, recusandae nostrum sint officia culpa suscipit quos sequi aliquam debitis voluptas est, saepe consequuntur. Doloremque, magni dolores!
                </p>
             </div>
         </div>
    </div>
</div>

