<div class="contenedor">
    <div class="top">
        <div class="dertop">
            <img class="img1" src="/assets/img/logo.png" alt="" srcset="">
            <h1>RAMO</h1>
        </div>
        <div class="iztop">
            <button class=" boton" mat-raised-button routerLink="/iniciar.sesi">Iniciar sesión</button>
            <button class=" boton" mat-raised-button routerLink="/registro">Registrarse</button>
           
        </div>
        
    </div>
    <div class="bot">
        <div class="der">
            <img class="img1" src="/assets/img/imagen1.png" alt="" srcset="">
        </div>
        <div class="iz">
            <h1>Bienvenido a RAMO</h1>
            <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore neque odio repellat, fuga, libero nulla consequuntur ipsa exercitationem autem, maiores temporibus! Doloribus, eos. Illum laboriosam odit vero possimus quos. Facere distinctio explicabo ad suscipit! Eveniet at commodi voluptates, animi perferendis cum quas qui repellat ducimus, eum illo autem optio assumenda.</h2>
            <button class=" boton" mat-raised-button routerLink="/iniciar.sesi">Iniciar sesión</button>
            
        </div>
    </div>
</div>
