<link rel="stylesheet" href="https://material.io/resources/icons/?style=baseline">
<div class="contenedor">
    <div class="top">
        <div class="dertop">
            <img class="img1" src="/assets/img/logo.png" alt="" srcset="">
            <h1>RAMO</h1>
        </div>
        <div class="iztop">
            <div class="ag">
                <mat-icon>person_outline</mat-icon>
               </div>
            
        </div>
    </div>
    <div class="medi">
        <button mat-button routerLink="/inicio" class="butt">Inicio</button>
        <button mat-button routerLink="/capaci" class="butt">Capacitaciones</button>
        <button mat-button routerLink="/comunid" class="butt">Comunidad</button>
        <button mat-button routerLink="/ayuda" class="butt">Ayuda</button>
    </div>
    <div class="bot">
        <div class="der">
            <img class="img2" src="/assets/img/imagen2.png" alt="" srcset="">
        </div>
        <div class="iz">
            <h3>¿Quiénes somos?</h3>
            <h4>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius magni esse est necessitatibus eveniet corrupti rerum reprehenderit labore eligendi, asperiores, quidem natus odio maiores dolorum culpa accusantium itaque mollitia beatae.</h4>
            <h3>Misión</h3>
            <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur id cupiditate aut laborum ab atque facilis provident sapiente quos non, tempora quidem nesciunt, accusantium et.</h4>
            <h3>Visión</h3>
            <h4>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque corrupti laudantium atque dolore tempora nostrum nesciunt, totam magni? Dolor veritatis nobis quos ipsum excepturi mollitia reiciendis assumenda eaque modi. Velit?</h4>
        </div>

        
        
        <!-- <div class="uno"></div>
          <mat-tab-group backgroundColor = "primary" class="barra" >
            <mat-tab label="Inicio " > 
                <div class="cont">
                    <img class="img1" src="/assets/img/imagen2.png" alt="" srcset="">
                </div>
               
                <h1>RAMO</h1>
           </mat-tab>
            <mat-tab label="Capacitaciones"  > Content 2 </mat-tab>
            <mat-tab label="Comunidad"> Content 3 </mat-tab>
            <mat-tab label="Ayuda"> Content 3 </mat-tab>
          </mat-tab-group>
          <div class="dos"></div> -->
    </div>
</div>
